<a href="https://colab.research.google.com/github/willyvonka1997/python/blob/main/go_deep_into_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create file.txt and open it

In [103]:
f = open("text.txt","w+")
sipmle_text = "hello dear, wlcome,\nhear you are"
f.write(sipmle_text)
%cat text.txt

hello dear, wlcome,
hear you are

In [106]:
filename = open("text.txt","r")
content = filename.readline()
print(content)

hello dear, wlcome,

In [110]:
with open("text.txt","r") as f:
  for line in f:
    print(line.split(" ")[0])

hello
hear

In [111]:
with open("text.txt","r") as f:
  for i,line in enumerate(f):
    print(f"line {i} with text: {line}")

line 0 with text: hello dear, wlcome,

line 1 with text: hear you are

In [115]:
%cat Book2.csv

nameageid
willy1399
jimmy2398
will1497

In [116]:
import csv

In [ ]:
file = "Book2.csv"

In [120]:
f = open(file,"r")

In [127]:
with open(file,'r') as f:
  freader = csv.reader(f,delimiter=',')
  h = next(freader)
  print(freader)
  for line in freader:
    print(line)

<_csv.reader object at 0x7eff87773c50>
['willy\x1b13\x1b99']
['jimmy\x1b23\x1b98']
['will\x1b14\x1b97']

In [ ]:
import pandas as pd
read_file = pd.read_excel("Book2.xlsx")
read_file

In [266]:
read_file.to_csv('./name2.csv', index = None, header=True)

In [276]:
pheader = read_file.keys()

In [277]:
 read_file_num = read_file.to_numpy()

In [282]:
read_file_num[2]

array(['will', 14, 97], dtype=object)

In [279]:
read_file_num[1][1]

23

In [280]:
df = pd.DataFrame(read_file_num)
headerList = ['id', 'name', 'profession']
df.to_csv('myfile.csv',index = None, header = pheader)

In [281]:
file2 = pd.read_csv('myfile.csv')
file2

    name  age  id
0  willy   13  99
1  jimmy   23  98
2   will   14  97

In [175]:
read_file = pd.read_csv("name.csv")

In [176]:
read_file

    name  age  id
0  willy   13  99
1  jimmy   23  98
2   will   14  97

In [177]:
read_file['id']

0    99
1    98
2    97
Name: id, dtype: int64

In [171]:
file = 'name.csv'
with open(file , 'r') as f:
  data_reader = csv.reader(f,delimiter = ',')
  for line in data_reader:
    print(line)

['name', 'age', 'id']
['willy', '13', '99']
['jimmy', '23', '98']
['will', '14', '97']
['willy 23 54willy 23 54']

In [169]:
puti = "willy 23 54"

In [170]:
with open('name.csv','a') as fd:
    fd.write(puti)

In [ ]:
import csv   
fields=['first','second','third']
with open(r'name', 'a') as f:
    writer = csv.writer(f)
    writer.writerow(fields)